

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: var(--sidebar-bg-color);
  padding: 5px;
  transition:all 0.2s ease;
  z-index: 1000;
}

/*======= Reusable css =====*/
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  display: none;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.sidebar .icon {
  font-size: 18px;
  min-width: 60px;
}
/*============================*/


.sidebar .logo {
  display: flex;
  justify-content: center;
}

.sidebar img {
  width: 120px;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
}

.sidebar li a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: var(--trans-02);
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--trans-02);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-bg-color);
}

.sidebar:hover {
  width: 200px;
}

.sidebar:hover .text {
  display: block;
}

.sidebar .active {
  background-color:var(--primary-color);
  
  .icon,
  .text{
    color:var(--sidebar-text-color);
  }
}